table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;
}

th,
td {
  border: 2px solid black;
}

form {
  width: 50%;
  margin: 0 auto;
}

form label {
  width: 20%;
  display: inline-block;
}

form input {
  width: 60%;
  margin: 10px;
}
.navLink {
  margin: 10px;
  padding: 10px;
}
